:root
{
    --dark-pink: rgb(181, 54, 107);
    --dark-red: rgb(172, 11, 11);
    --dark-orange: rgb(206, 93, 17);
    --dark-yellow: rgb(187, 173, 17);
    --dark-green: rgb(11, 172, 32);
    --dark-blue: rgb(11, 86, 172);
    --dark-purple: rgb(97, 19, 182);
    --dark-grey: rgb(52, 52, 52);

    --light-pink: rgb(224, 117, 179);
    --light-red: rgb(205, 72, 88);
    --light-orange: rgb(249, 130, 51);
    --light-yellow: rgb(230, 203, 93);
    --light-green: rgb(85, 210, 121);
    --light-blue: rgb(72, 147, 205);
    --light-purple: rgb(132, 72, 205);
    --light-grey: rgb(69, 69, 69);

    --pink-gradient: linear-gradient(var(--gradient-rotation), var(--dark-pink) 0%, var(--light-pink) 100%);
    --red-gradient: linear-gradient(var(--gradient-rotation), var(--dark-red) 0%, var(--light-red) 100%);
    --orange-gradient: linear-gradient(var(--gradient-rotation), var(--dark-orange) 0%, var(--light-orange) 100%);
    --yellow-gradient: linear-gradient(var(--gradient-rotation), var(--dark-yellow) 0%, var(--light-yellow) 100%);
    --green-gradient: linear-gradient(var(--gradient-rotation), var(--dark-green) 0%, var(--light-green) 100%);
    --blue-gradient: linear-gradient(var(--gradient-rotation), var(--dark-blue) 0%, var(--light-blue) 100%);
    --purple-gradient: linear-gradient(var(--gradient-rotation), var(--dark-purple) 0%, var(--light-purple) 100%);
    --grey-gradient: linear-gradient(var(--gradient-rotation), var(--dark-grey) 0%, var(--light-grey) 100%);
}

.pinkBorder
{
    border: 0.15rem solid var(--light-pink);
}

.redBorder
{
    border: 0.15rem solid var(--light-red);
}

.orangeBorder
{
    border: 0.15rem solid var(--light-orange);
}

.yellowBorder
{
    border: 0.15rem solid var(--light-yellow);
}

.greenBorder
{
    border: 0.15rem solid var(--light-green);
}

.blueBorder
{
    border: 0.15rem solid var(--light-blue);
}

.purpleBorder
{
    border: 0.15rem solid var(--light-purple);
}

.greyBorder
{
    border: 0.15rem solid var(--light-grey);
}

.pink
{
    color: var(--light-pink);
}

.red
{
    color: var(--light-red);
}

.orange
{
    color: var(--light-orange);
}

.yellow
{
    color: var(--light-yellow);
}

.green
{
    color: var(--light-green);
}

.blue
{
    color: var(--light-blue);
}

.purple
{
    color: var(--light-purple);
}

.grey
{
    color: var(--light-grey);
}

* {
    /*background-color: rgba(0,0,0,0.05);*/
    /*border: 1px solid black;*/
}