:root
{
    --anim-params: all ease-in-out 0.2s;
    --factor-radius: .25;
    --card-border-radius: calc(22% * var(--factor-radius)) / calc(15% * var(--factor-radius));

    --saturate-val: 1;
}

.myCard
{
    border-radius: var(--card-border-radius);
    position: relative;
    width: 100%;
    aspect-ratio: 15 / 22;
    transition: var(--anim-params);
    background-image: url('../../assets/LogoUnimiibo/unimiibo_logo_bg.png');
    background-size: 3.5rem;
    background-repeat: repeat;
    background-position: center;
}

@media (width < 576px)
{
    .myCard
    {
        background-size: 17.5vw;
    }
}

.myCard.myCardNormalPointer
{
    cursor: default;
}

.myCard:hover
{
    z-index: 1;
    scale: 102%;
    box-shadow: 0 10px 20px rgba(16, 37, 55, 0.5);
}

.myCard .bgCard
{
    border-radius: var(--card-border-radius);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.myCard .bgCard::after
{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10%;
    height: 55%;
    width: 100%;
    rotate: -15deg;
    scale: 150% 100%;
}

.pink.gradient::after
{
    background: var(--pink-gradient);
}

.red.gradient::after
{
    background: var(--red-gradient);
}

.orange.gradient::after
{
    background: var(--orange-gradient);
}

.yellow.gradient::after
{
    background: var(--yellow-gradient);
}

.green.gradient::after
{
    background: var(--green-gradient);
}

.blue.gradient::after
{
    background: var(--blue-gradient);
}

.purple.gradient::after
{
    background: var(--purple-gradient);
}

.grey.gradient::after
{
    background: var(--grey-gradient);
}

.myCard .cardBorder
{
    border-radius: var(--card-border-radius);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

.amiiboImg
{
    top: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    height: 60%;
    max-width: 90%;
    object-fit: contain;
    object-position: bottom;
    position: absolute;
    transition: var(--anim-params);
}

.loadingSpinner
{
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    object-fit: contain;
    object-position: bottom;
    position: absolute;
}

.myCard:hover > .amiiboImg
{
    scale: 130%;
    transform: translate(0, -1.1rem);
}

.myCardTextPosition
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 2;
    padding: 5%;
    height: 36%;
}

.myCardTextPosition .myCardTextWrapper
{
    font-family: 'Rowdies', cursive;
    color: white;
    padding: 10% 0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* ----------------------------------------------- */

.myCardTextPosition .myCardTextWrapper .myCardTextName
{
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: .05rem;
}

.myCardTextPosition .myCardTextWrapper .myCardTextSeries
{
    font-weight: 300;
    font-size: .9rem;
    letter-spacing: .1rem;
}

@media (max-width: 576px)
{
    .myCardTextPosition .myCardTextWrapper .myCardTextName
    {
        font-size: calc(15vw - 1.5rem);
    }
    .myCardTextPosition .myCardTextWrapper .myCardTextSeries
    {
        font-size: calc(9vw - 1rem);
    }
}