:root
{
    --anim-params: all ease-in-out 0.2s;
    --gradient-rotation: -50deg;
    --factor-radius: .25;
    --card-border-radius: calc(22% * var(--factor-radius)) / calc(15% * var(--factor-radius));
}

.myCard
{
    border-radius: var(--card-border-radius);
    position: relative;
    width: 100%;
    aspect-ratio: 15/22;
    transition: var(--anim-params);
    background-image: url('../../assets/LogoUnimiibo/unimiibo_logo_bg.png');
    background-size: 3.25rem;
    background-repeat: repeat;
    background-position: center;
}

@media (width < 576px)
{
    .myCard.myCardSmall
    {
        background-size: calc(18vw);
    }
}

@media (width >= 576px)
{
    .myCard.myCardBig
    {
        background-size: 3.25rem;
    }
}

.myCard.myCardNormalPointer
{
    cursor: default;
}

.myCard:hover
{
    z-index: 1;
    scale: 102%;
    box-shadow: 0 10px 20px rgba(16, 37, 55, 0.3);
}

.myCard .bgCard
{
    border-radius: var(--card-border-radius);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.myCard .bgCard::after
{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10%;
    height: 55%;
    width: 100%;
    rotate: -15deg;
    scale: 150% 100%;
}

.pinkGradient::after
{
    background: var(--pink-gradient);
}

.redGradient::after
{
    background: var(--red-gradient);
}

.orangeGradient::after
{
    background: var(--orange-gradient);
}

.yellowGradient::after
{
    background: var(--yellow-gradient);
}

.greenGradient::after
{
    background: var(--green-gradient);
}

.blueGradient::after
{
    background: var(--blue-gradient);
}

.purpleGradient::after
{
    background: var(--purple-gradient);
}

.greyGradient::after
{
    background: var(--grey-gradient);
}

.myCard .border
{
    border-radius: var(--card-border-radius);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

.amiiboImg
{
    top: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    height: 60%;
    max-width: 90%;
    object-fit: contain;
    object-position: bottom;
    position: absolute;
    transition: var(--anim-params);
}

.loadingSpinner
{
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    object-fit: contain;
    object-position: bottom;
    position: absolute;
}

.myCard:hover > .amiiboImg
{
    scale: 120%;
    transform: translate(0, -1.1rem);
    filter: drop-shadow(0 10px 5px rgba(16, 37, 55, 0.3));
}

.myCardTextPosition
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 2;
    padding: 5%;
    height: 36%;
}

.myCardTextPosition .myCardTextWrapper
{
    color: white;
    padding: 10% 5%;
    text-align: center;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* ----------------------------------------------- */

.myCardTextPosition .myCardTextWrapper .myCardTextName
{
    font-family: 'Rowdies', cursive;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: .05rem;
    margin: 0;
}

.myCardTextPosition .myCardTextWrapper .myCardTextSeries
{
    font-family: 'Rowdies', cursive;
    font-weight: 300;
    font-size: .75rem;
    letter-spacing: .05rem;
    margin: 0;
}

@media (max-width: 576px)
{
    .myCardTextPosition .myCardTextWrapper .myCardTextName
    {
        font-size: calc(15vw - 1.5rem);
        overflow: visible;
    }
    .myCardTextPosition .myCardTextWrapper .myCardTextSeries
    {
        font-size: calc(10vw - 1rem);
        overflow: visible;
    }
}

/*@media (max-width: 333px)*/
/*{*/
/*    .myCardTextPosition .myCardTextWrapper .myCardTextName*/
/*    {*/
/*        font-size: calc(15vw - 1rem);*/
/*        overflow: visible;*/
/*    }*/
/*    .myCardTextPosition .myCardTextWrapper .myCardTextSeries*/
/*    {*/
/*        font-size: calc(7.5vw - .5rem);*/
/*        overflow: visible;*/
/*    }*/
/*}*/