.navButton {
    --bs-navbar-toggler-focus-width: 0.1rem;
    --bs-navbar-color: rgba(89, 96, 104, 0.2);
    padding: .5rem !important;
}

.navButton span {
    width: 1.75rem;
    height: 1.75rem;
}

.navButton:focus {
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) !important;
    /*outline: none !important;*/
    /*box-shadow: none !important;*/
}

.navLink
{
    --transition-duration: .15s;
    position: relative;
    color: rgba(var(--bs-dark-rgb),0.65);
    transition: all var(--transition-duration) linear;
}

.navLink:hover
{
    color: rgba(var(--bs-dark-rgb),0.7);
}

.navLink:after
{
    z-index: -1;
    transition: all var(--transition-duration) ease-in-out;
    opacity: 0;
    transform: scale(0,0);
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    border-radius: 50.75rem;
    background-color: rgba(var(--bs-dark-rgb),0.05);
}

.navLinkActive
{
    color: white;
}

.navLinkActive:hover
{
    color: white;
}

.navLink:hover:after,
.navLinkActive:after
{
    transform: scale(1,1);
    opacity: 1;
    position: absolute;
}

.navLinkActive:after
{
    background-color: rgba(var(--bs-dark-rgb),.85);
}

@media (max-width: 767px) {
    .navLink:hover:after,
    .navLinkActive:after
    {
        transform: scale(0,0);
    }

    .navLinkActive
    {
        color: rgba(var(--bs-dark-rgb), 1);
    }
}