.imgAmiibos
{
    object-fit: cover;
    width: 100%;
    object-position: top;
    transition: opacity 1.5s ease-out;
    z-index: -1;
}

.imgAmiibosWrapper
{
    height: 35vh;
}

@media (min-width: 768px)
{
    .imgAmiibosWrapper
    {
        height: 40vw;
    }
}

@media (min-width: 992px)
{
    .imgAmiibosWrapper
    {
        height: 35vw;
    }
}


.imgUnimiibo
{
    object-fit: contain;
    object-position: center;
    width: 100%;
    max-width: 35rem;
    padding: .5rem .5rem;
}

.imgGames
{
    object-fit: cover;
    object-position: center;
}


.wave-unimiibo {
    position: absolute;
    top: -89px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-unimiibo svg {
    position: relative;
    display: block;
    width: 200%;
    height: 90px;
    transform: rotateY(180deg);
}

.wave-unimiibo .shapeFill {
    fill: #212529;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .wave-unimiibo
    {
        top: -59px;
    }

    .wave-unimiibo svg {
        height: 60px;
    }
}

@media (max-width: 767px)
{
    .wave-unimiibo
    {
        top: -29px;
    }

    .wave-unimiibo svg {
        width: 140%;
        height: 30px;
    }
}