.imgAmiibos
{
    object-fit: cover;
    width: 100%;
    object-position: top;
    transition: opacity 1.5s ease-out;
    z-index: -1;
}

.imgAmiibosWrapper
{
    height: 35vh;
}

@media (min-width: 768px)
{
    .imgAmiibosWrapper
    {
        height: 40vw;
    }
}

@media (min-width: 992px)
{
    .imgAmiibosWrapper
    {
        height: 35vw;
    }
}


.imgUnimiibo
{
    object-fit: contain;
    object-position: center;
    width: 100%;
    max-width: 35rem;
    padding: 0 2rem;
}

.imgGames
{
    object-fit: cover;
    object-position: center;
}